:root{
  --bgcolor:burlywood;
  --displaynone : none;
}
::-webkit-scrollbar{
  display:none
}

body{
  background-color:var(--bgcolor);
  margin: 0;
  padding: 0;
}
.navbar-edit{
  width: 100%;
  position: fixed;
  z-index: 10;
}
/* .designation{
  display: var(--displaynone);
} */

.card{
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 7px 13px 0 rgba(111, 9, 9, 0.5);
  transition: 1000ms;
 
}

.card:hover {
  box-shadow: 0 15px 26px 0 rgba(0,0,0,0.2);
  transform: scale(1.1);
  opacity: 1;
  /* --displaynone:content */

}
